In [9]:
#load the necessary packages
library(repr)
library(tidyverse)
library(tidymodels)
options(repr.matrix.max.rows = 10)

In [16]:
#load the players data set
url <- "https://drive.google.com/uc?export=download&id=1Mw9vW0hjTJwRWx0bDXiSpYsO3gKogaPz"
players <- read_csv(url)

Rows: 196 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, age
lgl (3): subscribe, individualId, organizationName

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [11]:
#convert the players data set into a tidy format by removing unnecessary columns
players_tidy <- players |> 
    select(experience:age, -hashedEmail, -name) |> #removed the hashedEmail and name columns
    head(5) #print only the first 5 rows of the data set
players_tidy

  experience subscribe played_hours gender age
1 Pro         TRUE     30.3         Male    9
2 Veteran     TRUE      3.8         Male   17
3 Veteran    FALSE      0.0         Male   17
4 Amateur     TRUE      0.7         Female 21
5 Regular     TRUE      0.1         Male   21

In [4]:
#calculate the average number of played hours to determine a boundary separating high and low contributors
average_played_hours <- players_tidy |>
  summarize(avg_hours = mean(played_hours, na.rm = TRUE))
average_played_hours

  avg_hours
1 6.98

The above code output reveals that the average number of played hours in the players data set is 6.98 hours. Therefore, we will classify players who contributed 6.98 hours or more as "High Contributors" and players who contributed less than 6.98 hours as "Low Contributors."

In [5]:
#convert the character variables to factor variables so they can be used as categories for KNN classification
players_tidy <- players_tidy |> 
    mutate(experience = as.factor(experience), 
           gender = as.factor(gender))

In [6]:
#assign numerical values to the experience, and gender variables so they can be used to calculate distances between points in KNN classification
players_tidy <- players_tidy |> 
    mutate(experience = as.numeric(experience), 
           gender = as.numeric(gender))

In [7]:
#assign a contributor label to each played hours value
players_tidy <- players_tidy |> 
    mutate(contributor = ifelse(played_hours >= 6.98, "High Contributor", "Low Contributor"))

In [8]:
#test if this works (can delete later) 
head(players_tidy)

  experience subscribe played_hours gender age contributor
1 2           TRUE     30.3         2       9  High Contributor
2 4           TRUE      3.8         2      17  Low Contributor
3 4          FALSE      0.0         2      17  Low Contributor
4 1           TRUE      0.7         1      21  Low Contributor
5 3           TRUE      0.1         2      21  Low Contributor